@if (Item.TagCount > 1)
{
    @* TODO: merge button and revealed content into new component *@
    <li>@Item.Tag @GenerateMiddleExplainer() <button class="reveal-button" onclick=@(() => ToggleData())>@if
        (!ShouldReveal)
            {
                <span>Show @Item.Tag</span>
            }
            else
            {
                <i>Hide @Item.Tag</i>
            }</button> @GenerateDate()
        <YarkBlazor.Components.VideoHistoryTag DateTime=@Item.DateTime />
    </li>
    @if (ShouldReveal)
    {
        <p class="reveal-content">@Item.Data</p>
    }
}
else
{
    <li>No @Item.Tag.ToLower() changes on record</li>
}

<style scoped>
    li {
        line-height: 1.85;
        font-size: 0.95rem;
        margin-left: 1rem;
        width: calc(60vw - 5rem);
        min-width: 500px;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public HistoryItem<string> Item { get; set; } = default!;

    bool ShouldReveal { get; set; } = false;

    string GenerateMiddleExplainer()
    {
        if (Item.TagIndex == 0)
        {
            return "was originally";
        }
        else if (Item.TagCount == 2 && Item.TagIndex == 1)
        {
            return "got changed to";
        }
        else if (Item.TagIndex == Item.TagCount - 1)
        {
            return "finally changed to";
        }
        else
        {
            return "was changed to";
        }
    }

    void ToggleData()
    {
        ShouldReveal = !ShouldReveal;
    }

    string GenerateDate()
    {
        return new TimeAgo(Item.DateTime).ToString();
    }
}