@if (Item.TagCount > 1)
{
    @* TODO: merge button and revealed content into new component *@
    <li>@Item.Tag @GenerateMiddleExplainer() <button class="reveal-button" onclick=@(() => ToggleData())>@if
        (!ShouldReveal)
            {
                <span>Show @Item.Tag</span>
            }
            else
            {
                <i>Hide @Item.Tag</i>
            }</button> @GenerateDate()
    </li>
    @if (ShouldReveal)
    {
        <p class="reveal-content">@Item.Data</p>
    }
}

<style scoped>
    li {
        margin-bottom: 5px;
        margin-left:2rem;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public HistoryItem<string> Item { get; set; } = default!;

    bool ShouldReveal { get; set; } = false;

    string GenerateMiddleExplainer()
    {
        if (Item.TagIndex == 0)
        {
            return "was originally";
        }
        else if (Item.TagCount == 2 && Item.TagIndex == 1)
        {
            return "got changed to";
        }
        else if (Item.TagIndex == Item.TagCount - 1)
        {
            return "finally changed to";
        }
        else
        {
            return "then changed to";
        }
    }

    void ToggleData()
    {
        ShouldReveal = !ShouldReveal;
    }

    string GenerateDate()
    {
        return new TimeAgo(Item.DateTime).ToString();
    }
}